.benefits {
  &__item {
    padding: 3rem 1rem;
    &__img {
      height: 5rem;
      margin: 0;
    }
    &__title {
      max-width: 20rem;
    }
    &__text {
      padding-bottom: 2rem;
      max-width: 18rem;
    }
  }
  @media (min-width: $mediaTablet) {
    @include grid(center, start, repeat(3, auto));
  }
}
