.presentation {
  @include flex(center, center);
  &__info {
    padding-bottom: 5rem;
    h1 {
      color: $yellow;
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 4rem;
    }
  }
  &__image {
    max-width: 100%;
    height: auto;
  }
  @media (min-width: $mediaLaptopM) {
    @include flex(center, center, row);
    &__image {
      max-width: 30rem;
      height: auto;
    }
    &__info {
      padding-bottom: unset;
      h1 {
        max-width: 35rem;
      }
      p {
        max-width: 32rem;
      }
    }
  }
}
