.ready-to-start {
  @include flex(center, flex-start);
  // &__title {
  // }

  @media (min-width: $mediaTablet) {
    flex-direction: row;
    align-items: center;
    @include flex(space-around, center, flex-start);

    &__title {
      padding-right: 4rem;
    }
  }
}
