.ready-to-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  &__title {
    font-size: 2rem;
    width: auto;
  }

  @media (min-width: $mediaTablet) {
    flex-direction: row;
    align-items: center;

    &__title {
      padding-right: 4rem;
    }
  }
}
