$yellow: #f1b503;
$blue: #2592a4;
$blue-dark: #23286b;
$black: #2c2932;
$grey: #c8c8ce;

$mediaMobileS: 320px;
$mediaMobileM: 375px;
$mediaMobileL: 425px;

$mediaTablet: 768px;

$mediaLaptopM: 1024px;
$mediaLaptopL: 1280px;

$mediaDesktopL: 1400px;
$mediaDesktopXL: 2560px;
