// import fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

* {
  box-sizing: border-box;
}
body {
  font-family: 'Libre Baskerville', 'Montserrat', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}
// * Mixins
@import './mixins/aligment.scss';
// * Globals
@import './globals/sections.scss';
@import './globals/texts.scss';
// * Components
@import './components/appBar.scss';
@import './components/burgerButton.scss';
@import './components/logo.scss';
@import './components/navBar.scss';
@import './components/footer.scss';
@import './components/linkButton.scss';
@import './App.scss';
// * Pages
@import './pages/Home/index.scss';
@import './pages/Installations/index.scss';
