@import './variables';
@mixin base-setion {
  display: flex;
  height: auto;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.section {
  @include base-setion;
  &__white {
    padding: 3.5rem 0.5rem;
    color: $blue-dark;
    background-color: #fff;
  }
  &__blue {
    padding: 5rem 0.5rem;
    color: #fff;
    background-color: #23286b;
  }
}
