@import '../variables';
header {
  @include grid(space-around, center, calc(100% - 2rem) 2rem);
  max-width: 75rem;
  width: 100%;
  > a {
    padding: 1rem 0 1rem 1rem;
  }
  // > img {
  // }

  @media (min-width: $mediaLaptopM) {
    @include flex(space-between, center, row);
    > nav {
      padding: 1rem 0.5rem 1rem 0;
    }
  }
}
