@import '../variables';
footer {
  .footer__container {
    display: flex;
    flex-direction: column;
  }
  .footer__link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $blue-dark;
    &__img {
      width: auto;
      height: 1.5rem;
    }
    &__span {
      font-size: 1.25rem;
      margin: 1rem 0;
    }
  }
  @media (min-width: $mediaLaptopM) {
    .footer__container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      > .footer__container__links {
        margin-top: -1rem;
        margin-left: 6rem;
      }
      .footer__link {
        flex-direction: row;
        align-items: center;
        &__img {
          padding-right: 1.5rem;
        }
      }
    }
  }
}
