@import '../variables';
footer {
  .footer__container {
    @include flex(space-between, flex-start, column);
  }
  .footer__link {
    @include flex(space-evenly, flex-start, column);
    color: $blue-dark;
    &__img {
      width: auto;
      height: 1.5rem;
    }
    &__span {
      font-size: 1.25rem;
      margin: 1rem 0;
    }
  }
  @media (min-width: $mediaLaptopM) {
    .footer__container {
      @include flex(space-between, flex-start, row);
      &__links {
        margin-top: -1rem;
        margin-left: 6rem;
      }
      .footer__link {
        @include grid(start, center, 3.5rem auto);
        &__img {
          padding-right: 1.5rem;
        }
      }
    }
  }
}
