@import '../variables';
.link-button {
  font-size: 1.25rem;
  text-decoration: none;
  padding: 1.5rem;
  font-weight: 700;
  font-family: 'Montserrat';
  &-yellow {
    background-color: $yellow;
    color: $blue-dark;
  }
  &-blue {
    background-color: $blue-dark;
    color: $yellow;
  }
}
