@import '../variables';
.logo {
  text-decoration: none;
  @include flex(flex-start, center, row);
  img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  span {
    font-size: 2rem;
    font-family: 'Montserrat';
    &:first-of-type {
      color: $blue;
    }
    &:last-of-type {
      color: $yellow;
    }
  }
}
